.app-bar {
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.app-bar h3 {
  margin: 0;
  user-select: none;
  background: linear-gradient(45deg, rgb(118 247 134), #0dcaf0, #5ae3ff);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
  font-family: "Protest Revolution", sans-serif;
}

.container-btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "bt-1 bt-2 bt-3" "bt-4 bt-5 bt-6";
  position: relative;
  padding: 0;
  width: 135px;
  height: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.container-btn:active {
  transform: scale(0.95);
}

.container-btn .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.bt-1 {
  grid-area: bt-1;
}

.bt-2 {
  grid-area: bt-2;
}

.bt-3 {
  grid-area: bt-3;
}

.bt-4 {
  grid-area: bt-4;
}

.bt-5 {
  grid-area: bt-5;
}

.bt-6 {
  grid-area: bt-6;
}

.bt-1:hover~button,
.bt-3:hover~button,
.bt-4:hover~button,
.bt-6:hover~button {
  box-shadow: -2px -2px #18181888;
}

.bt-1:hover~button::after,
.bt-3:hover~button::after,
.bt-4:hover~button::after,
.bt-6:hover~button::after {
  animation: shake 0.5s ease-in-out 0.3s;
  text-shadow: -2px -2px #18181888;
}

.bt-1:hover~button {
  transform: rotateX(15deg) rotateY(-15deg) rotateZ(0deg);
}

.bt-3:hover~button {
  transform: rotateX(15deg) rotateY(15deg) rotateZ(0deg);
}

.bt-4:hover~button {
  transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
}

.bt-6:hover~button {
  transform: rotateX(-15deg) rotateY(15deg) rotateZ(0deg);
}

.hover:hover~button::before {
  background-color: transparent;
}

.hover:hover~button::after {
  content: "Join Now";
  top: -50%;
  transform: translate(-50%, 0);
  font-size: 24px;
  color: #f19c2b;
}

.container-btn button {
  position: absolute;
  padding: 0;
  width: 135px;
  height: 50px;
  background: transparent;
  font-size: 17px;
  font-weight: 900;
  border: 3px solid #033977;
  border-radius: 0 12px 12px 0;
  transition: all 0.3s ease-in-out;
}

.container-btn button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135px;
  height: 50px;
  background-color: #033977;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.container-btn button::after {
  content: "Register";
  position: absolute;
  width: 135px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-size: 17px;
  font-weight: 900;
  line-height: 50px;
  color: #fff;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

@keyframes shake {
  0% {
    left: 45%;
  }

  25% {
    left: 54%;
  }

  50% {
    left: 48%;
  }

  75% {
    left: 52%;
  }

  100% {
    left: 50%;
  }
}

/* login btn */
.login-btn,
.login-btn::after {
  position: relative;
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, #008ba1 5%);
  bottom: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #4a90e2;
  outline: transparent;
  border: none;
}

.login-btn::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "Have an account";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg,
      transparent 3%,
      #00e6f6 3%,
      #00e6f6 5%,
      #008ba1 5%);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.login-btn:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.app-bar a {
  color: #efef;
  transition: all 0.228s;
}

.app-bar a:hover {
  color: aquamarine;
}

@media screen and (max-width : 767px) {
  .container-btn {
    display: none !important;
  }

  .login-btn,
  .login-btn::after {
    font-size: 12px;
  }
}