.privacy_policy_page {
    background: linear-gradient(to right bottom, #01221c 40%, #036452);
    min-height: 100vh;
    padding: 88px 0;
    color: #efef;
    letter-spacing: .1rem;

    overflow: hidden;
}