.leader-board-page .leader-board-container {
  background-color: #2f4560;
  color: #efefef;
}

.leader-board-page h3 {
  text-transform: uppercase;
  pointer-events: none;
}

.leader-board-page .box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
}

.leader-board-container .box-grid .box {
  position: relative;
  background: #3d5777;
  border-radius: 0.6rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #efefef;
  gap: 0.7rem;
}

.leader-board-container .box-grid .box:nth-child(2) {
  transform: translateY(-65px);
}

.leader-board-container .box-grid .box .img {
  position: absolute;
  top: -35px;
  left: 50%;
  width: 78px;
  height: 78px;
  transform: translateX(-50%);
  border: 2px solid transparent;
  outline: 2px dashed #efef;
}

.leader-board-container .box-grid .box .crown {
  position: absolute;
  width: 60px;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.leader-board-container .box-grid .box .userName {
  color: #efef;
  font-size: 1.65rem;
  pointer-events: none;
}

.leader-board-container .box-grid .box .icon > img {
  width: 40px;
}

.leader-board-container .box-grid .box .icon {
  padding: 0px 45px;
  border-radius: 0.6rem;
  border: 1px solid #efef;
  pointer-events: none;
}

.leader-board-container .box-grid .box .profits > span {
  position: relative;
  background: #0a5985;
  padding: 10px 40px;
  border-radius: 0.6rem;
  pointer-events: none;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.45);
  font-weight: bold;
  font-size: 1.2em;
  color: #eb9358;
}

.leader-board-container .box-grid .box .profits > span::after,
.leader-board-container .box-grid .box .profits > span::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3d5777;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.leader-board-container .box-grid .box .profits > span::before {
  left: -10px;
}

.leader-board-container .box-grid .box .profits > span::after {
  right: -10px;
}

.leader-board-container .box-grid .box .top-users {
  font-size: 4rem;
  opacity: 0.15;
  position: absolute;
  right: 40px;
  top: 10px;
  pointer-events: none;
  font-weight: bolder;
}

.leader-board-container .table-wrapper {
  margin-top: 2rem;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
}

.leader-board-container table {
  width: 100%;
  border-collapse: collapse;
  pointer-events: none;
}

.leader-board-container table th,
.leader-board-container table td {
  padding: 10px 40px;
  border-bottom: 2px solid #000;
}

.leader-board-container table thead tr {
  background: #1e3857;
  color: #efefef;
}

.leader-board-container table tbody img {
  width: 40px;
}
