.advertise-page a {
  text-decoration: none;
  color: #efefef;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background: #355a75;
  padding: 3px 20px;
  border-radius: 0.6rem;
  transition: all 0.228s ease;
}

.advertise-page a:hover {
  opacity: 0.6;
}

.advertise-page table {
  table-layout: fixed;
  width: 100%;
  color: #efefef;
}
.advertise-page table th {
  padding: 20px;
  letter-spacing: 0.1em;
}
